[Unit]
Description=Gunicorn instance to serv pyproject
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/var/pyproject
Environment="PATH=/var/pyproject/pyprojenv/bin"
ExecStart=/var/pyproject/pyprojenv/bin/gunicorn --workers 3 --bind unix:pyproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
